<%- include('../partials/header') %>

<div class="columns is-multiline">

  <% locations.forEach(function (l) { %>
    <div class="column is-2">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title title">
            <%= l.country %>
          </p>
          <% if (user && user._id.equals(l.user)) { %>
           
              <form action="/locations/<%= l._id %>?_method=DELETE" method="POST">
                <button class="delete" type="submit"></button>
              </form>
       
            <% } %>
        </header>
        <div class="card-content">
          <div class="content">
            <% if (l.region) { %>
              <p class="subtitle">Region:</p>
              <p><%= l.region %></p>
            <% } %>
            <% if (l.subRegion) { %>
              <p class="subtitle">Sub Region:</p>  
              <p><%= l.subRegion %></p>
            <% } %>  
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <a class="button is-small" href="/locations/<%= l._id %>">EXPLORE</a>
          </p>
        </footer>
      </div>

    </div>
      <% }); %>
      
  </div>
    
    <!-- 
      <table class="table">
  <thead>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>Sub Region</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% locations.forEach(function(l) { %>
      <tr>
        <td><%= l.country %></td>
        <td><%= l.region %></td>
        <td><%= l.subRegion %></td>
        <td><a class="button is-small" href="/locations/<%= l._id %>">EXPLORE</a></td>
        <% if (user && user._id.equals(l.user)) { %>
          <td>
            <form action="/locations/<%= l._id %>?_method=DELETE" method="POST">
              <button type="submit">REMOVE</button>
            </form>
          </td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/locations/new">ADD A REGION!</a>
  </table> -->
    
<%- include('../partials/footer') %>