<%- include('../partials/header') %>

<h1>THE JUICE</h1>
<table>
  <thead>
    <tr>
      <th>Vintage</th>
      <th>Location</th>
      <th>Producer</th>
      <th>Variety</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% wines.forEach(function(w) { %>
      <tr>
        <td><%= w.vintage %></td>
        <td><%= w.location %></td>
        <td><%= w.producer %></td>
        <td><%= w.variety %></td>
        <td><%= w.price %></td>
        <td><a href="/wines/<%= w._id %>">EXPLORE</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
    <a href="/wines/new">ADD SOME JUICE!</a>
    
    <%- include('../partials/footer') %>