<%- include('../partials/header') %>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class="is-borderless"></th>
          <th>Vintage</th>
          <th>Location</th>
          <th>Producer</th>
          <th>Variety</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% wines.forEach(function(w) { %>
          <tr class="is-borderless is-vcentered">
            <td class="has-text-right">
              <% if (user && user._id.equals(w.user)) { %>
                 
                <form action="/wines/<%= w._id %>?_method=DELETE" method="POST">
                  <button class="delete" type="submit"></button>
                </form>
              
              <% } %>
            </td>
            <td><%= w.vintage %></td>
            <% if (w.location) { %>
              <td><%= w.location.country %></td>
              <% } else { %>
                <td></td>
                <% } %>
                <td><%= w.producer %></td>
                <td><%= w.variety %></td>
                <td><%= w.price %></td>
                <td><a class="button is-small" href="/wines/<%= w._id %>">EXPLORE</a></td>
            
                </tr>
                <% }); %>
              </tbody>
            </table>
  </div>
</div>
          <div class="columns is-centered">
            <div class="column is-half is-narrow has-text-centered">
              <a class="button" href="/wines/new">ADD SOME JUICE</a>
              <a class="button" href="/locations">LOCATION GUIDE</a>
            </div>
          </div>
          
          <%- include('../partials/footer') %>