<%- include('../partials/header') %>

<h1>WHATS THIS</h1>
<h2><%= wine.vintage %></h2>
<h2><%= wine.location %></h2>
<h2><%= wine.producer %></h2>
<h2><%= wine.variety %></h2>
<h2><%= wine.producerDetails %></h2>
<h2><%= wine.price %></h2> 

<%- include('../partials/footer') %>