<%- include('../partials/header') %>

<label>Vintage:</label>
<h4><%= wine.vintage %></h4>
<label>Producer:</label>
<h4><%= wine.producer %></h4>
<label>Variety:</label>
<h4><%= wine.variety %></h4>
<label>Producer Details:</label>
<h4><%= wine.producerDetails %></h4>
<label>Price:</label>
<h4><%= wine.price %></h4> 
<a href="/wines/<%= wine._id %>/edit">EDIT</a>

<% if (wine.location) { %>
<label>Location:</label>
<h4><%= wine.location.country %></h4>
<h4><%= wine.location.region %></h4>
<h4><%= wine.location.subRegion %></h4>
<% } else { %>
    
  <form action="/wines/<%= wine._id %>/locations" method="POST">
    <select name="locationId">
      <%- locations.map(l => 
      `<option value="${l._id}">${l.country} || ${l.region} || ${l.subRegion}</option>`
      ).join('') %> 
    </select>
    <button type="submit">ADD A PLACE</button>
  </form>
  
<% } %>
<h2>Tasting Notes</h2>

<% if (wine.tastingNotes.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% wine.tastingNotes.forEach(function(note) { %>
        <tr>
          <td><img src="<%= note.userAvatar %>"><%= note.userName %></td>
          <td><%= note.createdAt.toLocaleDateString() %></td>
          <td><%= note.content %></td>
          <% if (user && user._id.equals(note.user)) { %>
          <td>
            <form action="/tasting-notes/<%= note._id %>?_method=DELETE" method="POST">
              <button type="submit">REMOVE</button>
            </form>
          </td>
          <td><a href="/tasting-notes/<%= note._id %>/edit">EDIT</a></td>
          <% } %>
        </tr>
      <% }); %>  
    </tbody>
  </table>
<% } else { %> 
  <h4>Don't Be Shy! What'd You Think?</h4>
<% } %>

<% if (user) { %> 
<form action="/wines/<%= wine._id %>/tasting-notes" method="POST">
  <textarea name="content" placeholder="What'd you think?"></textarea>
  <input type="submit" value="SEND IT">
</form>
<% } %>



<%- include('../partials/footer') %>