<%- include('../partials/header') %>

<div class="columns is-multiline">
  <div class="column is-7 is-offset-1">
<!-- PRODUCER CARD -->
    <div class="card">
      <header class="card-header">
        <p class="card-header-title title is-2 is-centered is-inline-flex">
            <%= wine.producer %> <span class="title is-6 is-italic pl-2 pb-4"><%= wine.variety %></span>
        </p>
      </header>  
      <div class="card-content">
        <div class="content is-italic has-text-right">
          $<%= wine.price %>
        </div>
        <div class="content">
          <%= wine.producerDetails %>
        </div>
      </div>
      <% if (user && user._id.equals(wine.user)) { %>
      <footer class="card-footer">
        <p class="card-footer-item">
          <a class="button is-small" href="/wines/<%= wine._id %>/edit">EDIT</a>
        </p>
      </footer>
      <% } %>
    </div>
<!-- TASTING NOTES CARD -->
  <div class="columns is-2 pt-5">
    <div class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title title is-2 is-centered">
            Tasting Notes
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <% if (wine.tastingNotes.length) { %>
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th class="pr-0">User</th>
                    <th>Date</th>
                    <th>Notes</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% wine.tastingNotes.forEach(function(note) { %>
                    <tr>
                      <td class="is-inline-flex pl-0 pr-0">
                        <figure class="image is-32x32">
                          <img class="is-rounded" src="<%= note.userAvatar %>">
                        </figure>
                        <%= note.userName %>
                      </td>
                      <td><%= note.createdAt.toLocaleDateString() %></td>
                      <td><%= note.content %></td>
                      <% if (user && user._id.equals(note.user)) { %>
                      <td class="is-vcentered">
                        <form action="/tasting-notes/<%= note._id %>?_method=DELETE" method="POST">
                          <button class="button is-small" type="submit">REMOVE</button>
                        </form>
                      </td>
                      <td class="is-vcentered"><a class="button is-small" href="/tasting-notes/<%= note._id %>/edit">EDIT</a></td>
                      <% } %>
                    </tr>
                  <% }); %>  
                </tbody>
              </table>
            <% } else { %> 
              <h6>Don't Be Shy! What'd You Think?</h6>
            <% } %>
            <% if (user) { %> 
            <form action="/wines/<%= wine._id %>/tasting-notes" method="POST">
              <textarea class="textarea mb-2" name="content" placeholder="What'd you think?"></textarea>
              <input class="button" type="submit" value="SEND IT">
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LOCATION CARD -->
  <div class="column is-3">
    <% if (wine.location) { %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title title">
          <%= wine.location.country %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <% if (wine.location.subRegion) { %>
            <p class="subtitle"><%= wine.location.region %> > <%= wine.location.subRegion %></p>
          <% } else if (wine.location.region) { %>
              <p class="subtitle"><%= wine.location.region %></p>
          <% } %>  
        </div>
        <div class="content">
          <p><%= wine.location.locationDetails %></p>
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <a class="button is-small" href="/locations/<%= wine.location._id %>">EXPLORE</a>
        </p>
      </footer>
    </div>
  </div>
  <% } else { %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title title is-centered">
          LOCATION
        </p>
      </header>
      <div class="card-content">
        <form action="/wines/<%= wine._id %>/locations" method="POST">
          <select class="select" name="locationId">
            <%- locations.map(l => 
            `<option value="${l._id}">${l.country} || ${l.region} || ${l.subRegion}</option>`
            ).join('') %> 
          </select>
            <button class="button is-small mt-4" type="submit">TAG A PLACE</button>
        </form>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <a class="button" href="/locations/new">NEW PLACE</a>
        </p>
      </footer>
    </div>
  <% } %>
</div>
